/* 
    Created on : Jan 27, 2015, 4:26:58 PM
    Author     : Roberto Torres
*/

#game{
    border: 2px solid blue;
    width: 800px;
    height: 600px;
}

body{
    background-image: url("../assets/images/background-stars.jpg");
    background-color: #000;
}

.instrucciones{
    color:whitesmoke;
}